LOCAL_RPC_URL=http://127.0.0.1:8547
REMOTE_RPC_URL=https://127.0.0.1/8547
MAX_BEHIND_BLOCKS=0
RPC_USER_AGENT=evm-height-checker/0.1
POLL_INTERVAL_SECONDS=5
RPC_TIMEOUT_SECONDS=3
RPC_RETRY_COUNT=2
RETRY_DELAY_SECONDS=0.5
STATE_TTL_SECONDS=30
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
