NODE_RPC_URL=http://127.0.0.1:8547
# Set NODES_JSON instead of NODE_RPC_URL for multi-node mode.
# NODES_JSON={"base-01":{"rpc_url":"http://192.0.2.10:8545","websocket_url":"ws://192.0.2.10:8546"}}
WEBSOCKET_URL=
TRUSTED_RPC_URL=https://127.0.0.1/8547
MAX_BEHIND_BLOCKS=0
RPC_USER_AGENT=evm-height-checker/0.1
POLL_INTERVAL_SECONDS=5
RPC_TIMEOUT_SECONDS=3
RPC_RETRY_COUNT=2
RETRY_DELAY_SECONDS=0.5
STATE_TTL_SECONDS=30
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
