# Mainnet variables
ADDRBOOK_URL="https://raw.githubusercontent.com/svetek/crypto_node-tools/main/haqq-node/artifacts/m_addrbook.json"
CHAIN_ID=<set chain_id>
CONFIG_PATH="/root/.haqqd"
DIFF_HEIGHT=1000
GENESIS_URL="https://raw.githubusercontent.com/svetek/crypto_node-tools/main/haqq-node/artifacts/m_genesis.json"
KEY=<set key name>
KEYALGO=eth_secp256k1
KEYPASS=<set password>
KEYRING=<set keyring type>
LOGLEVEL=info
MONIKER=<set moniker name>
PEERS=""
RPC="https://rpc.tm.haqq.network:443"
PROMETHEUS_PORT=<set prometheus port>
P2P_PORT=<set p2p port>
SEEDS="d8e2d0095763ed3c6f38814e7752eccc3c547913@167.235.192.194:26656,731f27fe9cd05257fcfc68b96147aec79035f920@seed1.haqq.network:26656,681da1f78742b2a0f8e0e7dac6e6f72166d82a8c@seed2.haqq.network:26656"
STATE_SYNC=<set the flag (true|false)>
TOKEN=ISLM
