# Validator variables
ADDRBOOK_URL=<set url addressbook (Optional)>
CHAIN_ID=<set chain_id>
CONFIG_PATH=/root/.haqqd
DIFF_HEIGHT=1000
GENESIS_URL=https://raw.githubusercontent.com/svetek/crypto_node-tools/main/haqq-node/artifacts/t_genesis.json
WALLET=<set wallet name>
WALLET_PASS=<set wallet password (password must be at least 8 characters)>
KEYRING=file
LOGLEVEL=info
METRICS_PORT=<set prometheus port>
MONIKER=<set moniker name>
PEERS=<set peers address>
P2P_PORT=<set p2p port>
RPC_PORT=<set rpc port>
RPC=https://rpc.tm.testedge2.haqq.network:443
SEEDS=62bf004201a90ce00df6f69390378c3d90f6dd7e@seed2.testedge2.haqq.network:26656,23a1176c9911eac442d6d1bf15f92eeabb3981d5@seed1.testedge2.haqq.network:26656
STATE_SYNC=<set the flag (true|false)>
TOKEN=ISLM
