# Validator variables
ADDRBOOK_URL=""
CHAIN_ID=nibiru-itn-3
CONFIG_PATH=/root/.nibid
DIFF_HEIGHT=1000
GENESIS_URL=https://networks.itn.nibiru.fi/nibiru-itn-3/genesis
KEY=<set key name>
KEYALGO=eth_secp256k1
KEYPASS=<set password>
KEYRING=<set keyring type>
LOGLEVEL=info
MONIKER=<set moniker name>
PEERS=""
RPC=https://rpc.itn-3.nibiru.fi:443
PROMETHEUS_PORT=<set prometheus port>
P2P_PORT=<set p2p port>
SEEDS=6eb0d2a3a983a02d8724786dd8612bf491ae2fb2@34.140.226.56:26656,729949706e9947e5b7aa10a411a9d2b96e5fe42b@104.199.24.9:26656
STATE_SYNC=<set the flag (true|false)>
TOKEN=nibi
