# Validator variables
CACHE_LISTEN_ADDRESS=<set listen address>
CACHE_PORT=<set cache port>
METRICS_LISTEN_ADDRESS=<set listen address>
METRICS_PORT=<set metrics port>
LOGLEVEL=<set log level: trace|debug|info|warn|error|fatal|panic>
