# Validator variables
ADDRBOOK_URL=""
CHAIN_ID=<set chain_id>
CONFIG_PATH="/root/.lava"
DIFF_HEIGHT=1000
GENESIS_URL=https://raw.githubusercontent.com/lavanet/lava-config/main/testnet-2/genesis_json/genesis.json
KEY=<set key name>
KEYRING=<set keyring type>
KEYALGO=eth_secp256k1
LOGLEVEL=info
MONIKER=<set moniker name>
PEERS="d5519e378247dfb61dfe90652d1fe3e2b3005a5b@lava-testnet.rpc.kjnodes.com:14456"
PROMETHEUS_PORT=<set prometheus port>
P2P_PORT=<set p2p port>
RPC="https://public-rpc-testnet2.lavanet.xyz:443/rpc/"
SEEDS="3a445bfdbe2d0c8ee82461633aa3af31bc2b4dc0@testnet2-seed-node.lavanet.xyz:26656,e593c7a9ca61f5616119d6beb5bd8ef5dd28d62d@testnet2-seed-node2.lavanet.xyz:26656"
STATE_SYNC=<set the flag (true|false)>
TOKEN=lava
