# Validator variables
ADDRBOOK_URL=<set url addressbook (Optional)>
CHAIN_ID=<set chain_id>
CONFIG_PATH=/root/.osmosisd
DIFF_HEIGHT=1000
GENESIS_URL=https://osmosis.fra1.digitaloceanspaces.com/osmosis-1/genesis.json
WALLET=<set wallet name>
WALLET_PASS=<set wallet password (password must be at least 8 characters)> 
KEYRING_BACKEND=file
LOGLEVEL=info
METRICS_PORT=<set prometheus port>
MONIKER=<set moniker name>
PEERS=<set peers address>
P2P_PORT=<set p2p port>
RPC_PORT=<set rpc port>
RPC=https://rpc.osmosis.zone:443
SEEDS=''
STATE_SYNC=<set the flag (true|false)>
TOKEN=osmo
