# Validator variables
ADDRBOOK_URL=https://rpc.osmosis.zone/addrbook
CHAIN_ID=<set chain_id>
CONFIG_PATH="/root/.osmosisd"
DIFF_HEIGHT=1000
GENESIS_URL=https://osmosis.fra1.digitaloceanspaces.com/osmosis-1/genesis.json
KEY=<set key name>
KEYPASS=<set password>
KEYRING=<set keyring type>
KEYALGO=eth_secp256k1
LOGLEVEL=info
MONIKER=<set moniker name>
PEERS=""
RPC="https://rpc.osmosis.zone:443"
PROMETHEUS_PORT=<set prometheus port>
P2P_PORT=<set p2p port>
SEEDS=""
STATE_SYNC=<set the flag (true|false)>
TOKEN=osmo
