# Node variables
ACCOUNT_ID=<set account id> (Optional)
BOOT_NODES=<set boot nodes> (Optional)
CHAIN_ID=<set chain_id> (testnet|mainnet; Default:testnet)
CONFIG_PATH=<set config path> (Default: /root/.near)
