# Validator variables
ADDRBOOK_URL=""
CHAIN_ID=<set chain_id>
CONFIG_PATH="/root/.cascadiad"
DIFF_HEIGHT=1000
GENESIS_URL=https://raw.githubusercontent.com/CascadiaFoundation/chain-configuration/master/testnet/genesis.json
WALLET=<set wallet name>
WALLET_PASS=<set wallet password (password must be at least 8 characters)> 
KEYRING_BACKEND=file
LOGLEVEL=info
METRICS_PORT=<set prometheus port>
MONIKER=<set moniker name>
PEERS=5126c2904cf4d9ed9b2c6cd203fccbe3983229da@cascadia.rpc.liveraven.net:22656
P2P_PORT=<set p2p port>
RPC_PORT=<set rpc port>
RPC=https://cascadia.rpc.liveraven.net:443
SEEDS=d1ed80e232fc2f3742637daacab454e345bbe475@54.204.246.120:26656,0c96a6c328eb58d1467afff4130ab446c294108c@34.239.67.55:26656
STATE_SYNC=<set the flag (true|false)>
TOKEN=CC
