### Node variables ###

LOTUS_API_LISTENADDRESS=/ip4/0.0.0.0/tcp/1234/http
LOTUS_API_REMOTELISTENADDRESS=0.0.0.0:1234

LOTUS_CHAINSTORE_SPLITSTORE_HOTSTOREMESSAGERETENTION=5760
LOTUS_CHAINSTORE_SPLITSTORE_HOTSTOREFULLGCFREQUENCY=1
LOTUS_CHAINSTORE_SPLITSTORE_HOTSTOREMAXSPACETARGET=1000000000000
LOTUS_CHAINSTORE_SPLITSTORE_HOTSTOREMAXSPACETHRESHOLD=200000000000
LOTUS_CHAINSTORE_SPLITSTORE_HOTSTOREMAXSPACESAFETYBUFFER=100000000000

LOTUS_CHAININDEXER_ENABLEINDEXER=true
LOTUS_CHAININDEXER_GCRETENTIONEPOCHS=5760
LOTUS_CHAININDEXER_RECONCILEEMPTYINDEX=true
LOTUS_CHAININDEXER_MAXRECONCILETIPSETS=8640
LOTUS_CHAININDEXER_ALLOWINDEXRECONCILIATIONFAILURE=false

LOTUS_FEVM_ENABLEETHRPC=true
LOTUS_FEVM_ETHBLKCACHESIZE=500

LOTUS_EVENTS_ENABLEACTOREVENTSAPI=true
LOTUS_EVENTS_FILTERTTL=1h0m0s
LOTUS_EVENTS_MAXFILTERS=100
LOTUS_EVENTS_MAXFILTERRESULTS=10000
LOTUS_EVENTS_MAXFILTERHEIGHTRANGE=2880