# Validator variables
ADDRBOOK_URL=""
CHAIN_ID=mantrachain-testnet-1
CONFIG_PATH=/root/.mantrachain
DIFF_HEIGHT=1000
GENESIS_URL=""
KEY=<set key name>
KEYALGO=eth_secp256k1
KEYPASS=<set password>
KEYRING=<set keyring type>
LOGLEVEL=info
MONIKER=<set moniker name>
PEERS=""
RPC=""
PROMETHEUS_PORT=<set prometheus port>
P2P_PORT=<set p2p port>
SEEDS=""
STATE_SYNC=<set the flag (true|false)>
TOKEN=aum
