# Validator variables
ADDRBOOK_URL=""
CHAIN_ID=<set chain_id>
CONFIG_PATH="/root/.evmosd"
DIFF_HEIGHT=1000
GENESIS_URL=""
WALLET=<set wallet name>
WALLET_PASS=<set wallet password (password must be at least 8 characters)> 
KEYRING=file
LOGLEVEL=info
METRICS_PORT=<set prometheus port>
MONIKER=<set moniker name>
PEERS=""
P2P_PORT=<set p2p port>
RPC_PORT=<set rpc port>
RPC=""
SEEDS=""
STATE_SYNC=<set the flag (true|false)>
TOKEN=aum
