# Validator variables
ADDRBOOK_URL=<set url addressbook (Optional)>
CHAIN_ID=<set chain_id>
CONFIG_PATH=/root/.cantod
DIFF_HEIGHT=1000
GENESIS_URL=https://github.com/Canto-Network/Canto/raw/genesis/Networks/Mainnet/genesis.json
WALLET=<set wallet name>
WALLET_PASS=<set wallet password (password must be at least 8 characters)> 
KEYRING=file
LOGLEVEL=info
METRICS_PORT=<set prometheus port>
MONIKER=<set moniker name>
PEERS=<set peers address>
P2P_PORT=<set p2p port>
RPC_PORT=<set rpc port>
RPC=https://canto-rpc.polkachu.com:443
SEEDS=ade4d8bc8cbe014af6ebdf3cb7b1e9ad36f412c0@seeds.polkachu.com:15556
STATE_SYNC=<set the flag (true|false)>
TOKEN=canto
