# Provider variables
CHAIN_ID=<set chain_id>
CONFIG_PATH="/root/.lava"
GEOLOCATION=<set geolocation>
KEY=<set key name>
KEYRING=<set keyring type>
KEYALGO=eth_secp256k1
LOGLEVEL=info
MONIKER=<set moniker name>
REWARDS_STORAGE_DIR="rewards-storage"
RPC=<set lava rpc url>
PROMETHEUS_PORT=<set prometheus port>
TOTAL_CONNECTIONS=10
