NEAR_NETWORK=mainnet
NODE_RPC_URL=http://127.0.0.1:3030
# Alternatively unset NODE_RPC_URL and set:
# NODES_JSON={"near-01":{"rpc_url":"http://192.0.2.10:3030"}}
# Defaults to https://rpc.<NEAR_NETWORK>.near.org
# TRUSTED_RPC_URL=https://rpc.mainnet.near.org
POLL_INTERVAL_SECONDS=5
DEEP_CHECK_INTERVAL_SECONDS=60
STATE_TTL_SECONDS=30
DEEP_STATE_TTL_SECONDS=180
RPC_TIMEOUT_SECONDS=3
RPC_RETRY_COUNT=2
RETRY_DELAY_SECONDS=0.5
HTTP_HOST=0.0.0.0
HTTP_PORT=8080
